<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/CSS/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block extraheader %} {% endblock extraheader %}
</head>

<body>
    <div class="nav">
        <a href="{% url 'home'%}" style="text-decoration: none;">
            <div class="logo">
                <h4>Smart Food Court System</h4>
            </div>
        </a>
        <div class="list">
            {% block list %} {% endblock list %}
        </div>
    </div>
    <div class="container">
        {% block container %} {% endblock container %}
    </div>
</body>

</html>